
**aproximaccion probabilistica**
#**permite detectar casualidades entre eventos**

#bernoulli asigna una probabilidad explicita  a que ocurra un evento y una probabilidad explicita a que no ocurra
#multinomial Naive Balles asigna una probabilidad basada en el nuemero de veces que ocurre una palabra  en un texto anadiendo un parametro de suavisado
#Gaussian Bayes se utiliza para datos continuos asume que las variables regresoras estan distruibuidas normalmente  asignando  \mu  y sigma en clase concreta}

In [6]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
import pandas as pd
import numpy as np
df=pd.read_csv("C:/Users/polla/Desktop/curso python esecencial ciencia de datos/machine learning modelizacion/datos1.csv")
df=df.sample(frac=1)
df=df.head(5000)

In [7]:
df=df.dropna(subset=["Price"])

In [8]:
Y=df["Price"]>500000

In [9]:
df.head()

,Price,Bathrooms,Bedrooms,ParkingSlots,SquareMeters,GpsLongitude,GpsLatitude,Municipio,Estado
6820,1262000.0,2,3,1,124.0,-99.222918,18.922911,Cuernavaca,Morelos
8509,1400000.0,3,3,2,90.0,-99.231535,18.795640,Xochitepec,Morelos
14463,3400000.0,1,2,1,450.0,-97.867253,22.231325,Tampico,Tamaulipas
14831,1220000.0,2,3,2,108.0,-102.331353,21.885416,Aguascalientes,Aguascalientes
1494,5400000.0,4,3,4,280.0,-99.580920,19.262700,Metepec,Estado de México

In [11]:
df["Bathrooms"]=df["Bathrooms"].apply(str)
df["Bedrooms"]=df["Bedrooms"].apply(str)
df["ParkingSlots"]=df["ParkingSlots"].apply(str)
df["SquareMeters"]=df["SquareMeters"].apply(str)
df["GpsLongitude"]=df["GpsLongitude"].apply(str)
df["GpsLatitude"]=df["GpsLatitude"].apply(str)
X=pd.get_dummies(data=df[['ParkingSlots','Bedrooms','Bathrooms','Municipio','Estado','SquareMeters','GpsLongitude','GpsLatitude']])

In [12]:
X.head() #objeto para predecir que  casa cuesta 500000

,ParkingSlots_1,ParkingSlots_2,ParkingSlots_3,ParkingSlots_4,Bedrooms_1,Bedrooms_2,Bedrooms_3,Bedrooms_4,Bathrooms_1,Bathrooms_2,...,GpsLatitude_32.508547,GpsLatitude_32.51859,GpsLatitude_32.5245141,GpsLatitude_32.536306866378496,GpsLatitude_32.611292999999996,GpsLatitude_32.613537,GpsLatitude_32.6342739,GpsLatitude_32.65402460000001,GpsLatitude_42.411744299999995,GpsLatitude_nan
6820,1,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8509,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14463,1,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
14831,0,1,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1494,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
#ajustar el modelo 
clf=BernoulliNB()#construir objeto
#clf=MultnomialNB
clf.fit(X,Y)#ajustar modelo 
Y_pred=clf.predict(X)

In [14]:
np.mean(Y==Y_pred) #media general de todos los casos 
#datos ajustados con una prediccion de 97%

0.9746

In [15]:
#media de la variable respuesta 
1-np.mean(Y) 
#solo estamos ganando

0.025399999999999978

In [20]:
df=df.dropna(subset=["Bathrooms","Bedrooms","ParkingSlots","SquareMeters","GpsLongitude","GpsLatitude"])
X=df[['Bathrooms','Bedrooms','ParkingSlots','Price']]
clf=GaussianNB()
clf.fit(X,Y)
Y_pred=clf.predict(X)

In [21]:
np.mean(Y==Y_pred)#analisis textual qe predice el 9964 de nuestras variables

0.9964