In [6]:
from sklearn import tree  # ayuda  a hacer el arbol
import numpy as np 
import pandas as pd
from sklearn.metrics import r2_score #eficeincia de los calores nuemericos 

df=pd.read_csv("C:/Users/polla/Desktop/curso python esecencial ciencia de datos\machine learning modelizacion/datos1.csv")
df=df.dropna(subset=["Bathrooms","Bedrooms","ParkingSlots","SquareMeters","GpsLongitude","GpsLatitude"])
df=df.sample(frac=1)
dftest=df.tail(50000) # ultimos 50000
df=df.head(5000)# primeros 50000

In [4]:
df.head()

,Price,Bathrooms,Bedrooms,ParkingSlots,SquareMeters,GpsLongitude,GpsLatitude,Municipio,Estado
10831,1481000.0,3,3,2,122.0,-98.797724,20.010250,Zempoala,Hidalgo
3200,742850.0,2,2,1,68.0,-99.805194,16.839594,NaN,Guerrero
7802,699000.0,2,2,1,60.0,-98.880660,18.761947,Ayala Municipality,Morelos
4333,1690000.0,3,3,2,111.0,-98.786069,20.050907,NaN,Hidalgo
4073,1883000.0,3,3,2,162.0,-103.708001,19.289687,NaN,Colima

In [7]:
# ajusra modelo clasificacion 
clf=tree.DecisionTreeClassifier()
X=df[["Bathrooms","Bedrooms","ParkingSlots","SquareMeters","GpsLongitude","GpsLatitude"]]
X_test=dftest[["Bathrooms","Bedrooms","ParkingSlots","SquareMeters","GpsLongitude","GpsLatitude"]]
Y=df["Price"]>500000
Y_test=dftest["Price"]>500000
clf=clf.fit(X,Y)
Y_pred=clf.predict(X)
Y_pred_test=clf.predict(X_test)
# max_depth= profundidad maxima , min_samples_split= numero de particiones/min _samples_leaf,max_features=forzar variables que queramos usar

In [8]:
np.mean(Y==Y_pred) #clasifica el modelo  
#evitarlo por que no  se vizualiza bien el modelo

0.9994

In [9]:
np.mean(Y_test==Y_pred_test)
#predice correctamente el 98 %

0.9806396274966304

In [13]:
#variables regresosas
clf=tree.DecisionTreeRegressor()
Y=df["Price"]
Y_test=dftest["Price"]
clf=clf.fit(X,Y)
Y_pred=clf.predict(X)
Y_pred_test=clf.predict(X_test)

print("R cuadrado:",r2_score(Y,Y_pred))
print("R cuadrado test",r2_score(Y_test,Y_pred_test))
#99 datos internos
#67 cn datos externos

R cuadrado: 0.9998506193016515
R cuadrado test 0.6720290341389679