In [ ]:
#vizualizacion de datos agradable

In [2]:
import pandas as pd

In [7]:
df= pd.read_csv("C:/Users/polla/Desktop/curso python esecencial ciencia de datos/evaluar eficeincia del codigo/datos1.csv", nrows = 100000)# con parametros

In [9]:
df.head(10) #muestra 10 datos de la base de datos

,Price,Bathrooms,Bedrooms,ParkingSlots,SquareMeters,GpsLongitude,GpsLatitude,Municipio,Estado
0,9500000.0,4,4,4,470.0,-89.611038,21.063482,Merida,Yucatán
1,799999.0,2,2,1,71.0,-100.398136,20.663553,Santiago de Querétaro,Querétaro
2,5250000.0,3,3,2,177.0,-99.299350,19.355751,Cuajimalpa,Ciudad de México
3,8200000.0,2,3,3,156.0,-99.164989,19.393514,Benito Juarez,Ciudad de México
4,6250000.0,3,3,3,200.0,-99.293693,19.356364,Cuajimalpa,Ciudad de México
5,19750000.0,3,3,4,256.0,-99.254541,19.385992,Cuajimalpa,Ciudad de México
6,7200000.0,3,3,4,599.0,-89.614570,21.023252,Merida,Yucatán
7,6300000.0,2,2,2,140.0,-99.173591,19.396537,Benito Juarez,Ciudad de México
8,9900000.0,3,3,2,199.0,-99.286972,19.388187,Huixquilucan,Estado de México
9,6500000.0,2,3,2,178.0,-99.204056,19.361456,Álvaro Obregón,Ciudad de México

In [10]:
df.tail() #muestra los datosal revez

,Price,Bathrooms,Bedrooms,ParkingSlots,SquareMeters,GpsLongitude,GpsLatitude,Municipio,Estado
16454,5300000.0,3,3,2,428.0,-106.456574,23.279159,NaN,Sinaloa
16455,3400000.0,4,4,2,2000.0,-101.711308,21.152332,NaN,Guanajuato
16456,1848000.0,3,3,2,128.0,-102.330020,21.883083,NaN,Aguascalientes
16457,1900000.0,3,3,2,125.0,-101.619522,21.099614,NaN,Guanajuato
16458,3200000.0,4,4,3,360.0,-101.631316,21.115931,NaN,Guanajuato

In [14]:
df=df.sample (frac=1 ) #muestra el dataframe  desordenado

In [16]:
df.columns #ver las variables con las que se cuenta la base de datos

Index(['Price', 'Bathrooms', 'Bedrooms', 'ParkingSlots', 'SquareMeters',
       'GpsLongitude', 'GpsLatitude', 'Municipio', 'Estado'],
      dtype='object')

In [19]:
df.Price #muestra informacion de  la variable fila

14094     1884900.0
2195      7500000.0
12806     2500000.0
3827     15000000.0
15708     1032000.0
            ...
16308     2500000.0
12714     2350000.0
14897     4790000.0
13802     4000000.0
10431     1699000.0
Name: Price, Length: 16459, dtype: float64

In [21]:
df.dtypes # muestra los tipos de datos con los que maneja la base de datos

Price           float64
Bathrooms         int64
Bedrooms          int64
ParkingSlots      int64
SquareMeters    float64
GpsLongitude    float64
GpsLatitude     float64
Municipio        object
Estado           object
dtype: object

In [22]:
df.values #muestra formato en matriz

array([[1884900.0, 2, 3, ..., 20.507503, 'Corregidora Municipality',
        'Querétaro'],
       [7500000.0, 1, 1, ..., 19.4149803, 'Cuauhtémoc',
        'Ciudad de México'],
       [2500000.0, 3, 3, ..., 20.670630369296, 'Solidaridad',
        'Quintana Roo'],
       ...,
       [4790000.0, 4, 3, ..., 19.278599844594602,
        'Villa de Álvarez Municipality', 'Colima'],
       [4000000.0, 4, 3, ..., 22.775935999999998, 'Guadalupe',
        'Zacatecas'],
       [1699000.0, 3, 3, ..., 21.051861057901302, 'Merida', 'Yucatán']],
      dtype=object)

In [25]:
df2= df.head(7) # muestra las filas a estudiar  o trabajar

In [26]:
df2.head(20)  # muestra  los datos requeridos con df2

,Price,Bathrooms,Bedrooms,ParkingSlots,SquareMeters,GpsLongitude,GpsLatitude,Municipio,Estado
14094,1884900.0,2,3,2,122.0,-100.404122,20.507503,Corregidora Municipality,Querétaro
2195,7500000.0,1,1,1,90.0,-99.177446,19.414980,Cuauhtémoc,Ciudad de México
12806,2500000.0,3,3,2,130.0,-87.040523,20.670630,Solidaridad,Quintana Roo
3827,15000000.0,4,4,4,500.0,-99.313099,19.551146,NaN,Estado de México
15708,1032000.0,1,2,2,90.0,-100.411664,20.618810,Santiago de Querétaro,Querétaro
716,720000.0,2,3,2,96.0,-98.893635,18.936899,Atlatlahucan Municipality,Morelos
12090,6870000.0,3,3,2,105.0,-99.167040,19.411164,Cuauhtémoc,Ciudad de México