In [1]:
import pandas as pd
df= pd.read_csv("C:/Users/polla/Desktop/curso python esecencial ciencia de datos/evaluar eficeincia del codigo/datos1.csv")

In [5]:
df.head()

,Price,Bathrooms,Bedrooms,ParkingSlots,SquareMeters,GpsLongitude,GpsLatitude,Municipio,Estado
0,9500000.0,4,4,4,470.0,-89.611038,21.063482,Merida,Yucatán
1,799999.0,2,2,1,71.0,-100.398136,20.663553,Santiago de Querétaro,Querétaro
2,5250000.0,3,3,2,177.0,-99.299350,19.355751,Cuajimalpa,Ciudad de México
3,8200000.0,2,3,3,156.0,-99.164989,19.393514,Benito Juarez,Ciudad de México
4,6250000.0,3,3,3,200.0,-99.293693,19.356364,Cuajimalpa,Ciudad de México

In [6]:
df["Price"].head()# muestra la fila  seleccionada

0    9500000.0
1     799999.0
2    5250000.0
3    8200000.0
4    6250000.0
Name: Price, dtype: float64

In [8]:
df[100:103] # hace muestreo de intervalos

,Price,Bathrooms,Bedrooms,ParkingSlots,SquareMeters,GpsLongitude,GpsLatitude,Municipio,Estado
100,12000000.0,2,3,2,400.0,-99.256369,19.425055,Huixquilucan,Estado de México
101,15990000.0,3,3,4,417.0,-99.288625,19.424274,Huixquilucan,Estado de México
102,11950000.0,3,3,3,400.0,-99.262716,19.403509,Huixquilucan,Estado de México

In [20]:
df[df["Price"]!=9500000].head() #muestra precios menores que lo establecido dentro de un array   <   ==  > "!" de abajo y arriba"

,Price,Bathrooms,Bedrooms,ParkingSlots,SquareMeters,GpsLongitude,GpsLatitude,Municipio,Estado
1,799999.0,2,2,1,71.0,-100.398136,20.663553,Santiago de Querétaro,Querétaro
2,5250000.0,3,3,2,177.0,-99.299350,19.355751,Cuajimalpa,Ciudad de México
3,8200000.0,2,3,3,156.0,-99.164989,19.393514,Benito Juarez,Ciudad de México
4,6250000.0,3,3,3,200.0,-99.293693,19.356364,Cuajimalpa,Ciudad de México
5,19750000.0,3,3,4,256.0,-99.254541,19.385992,Cuajimalpa,Ciudad de México

In [22]:
df[df["Estado"]=="Ciudad de México"].head() # muestra todo los estados de ciudad de mexico

,Price,Bathrooms,Bedrooms,ParkingSlots,SquareMeters,GpsLongitude,GpsLatitude,Municipio,Estado
2,5250000.0,3,3,2,177.0,-99.299350,19.355751,Cuajimalpa,Ciudad de México
3,8200000.0,2,3,3,156.0,-99.164989,19.393514,Benito Juarez,Ciudad de México
4,6250000.0,3,3,3,200.0,-99.293693,19.356364,Cuajimalpa,Ciudad de México
5,19750000.0,3,3,4,256.0,-99.254541,19.385992,Cuajimalpa,Ciudad de México
7,6300000.0,2,2,2,140.0,-99.173591,19.396537,Benito Juarez,Ciudad de México

**El amperson muestra que cumpla las condiciones  (&) y   muestra que cumpla solo una codicion una o la otra(|)

In [26]:
df[(df["Estado"]=="Ciudad de México") & (df["Municipio"]=="Cuajimalpa")].head()#& (df["SquareMeters"]==359)] # anadir mas filtros para la busqueda de

,Price,Bathrooms,Bedrooms,ParkingSlots,SquareMeters,GpsLongitude,GpsLatitude,Municipio,Estado
2,5250000.0,3,3,2,177.0,-99.299350,19.355751,Cuajimalpa,Ciudad de México
4,6250000.0,3,3,3,200.0,-99.293693,19.356364,Cuajimalpa,Ciudad de México
5,19750000.0,3,3,4,256.0,-99.254541,19.385992,Cuajimalpa,Ciudad de México
11,22950000.0,2,2,4,359.0,-99.265160,19.389347,Cuajimalpa,Ciudad de México
14,5500000.0,2,3,2,195.0,-99.293300,19.362600,Cuajimalpa,Ciudad de México

In [27]:
df[df.Municipio.isin(["Huixquilucan","Cuajimalpa"])].head() #filtro de nombres

,Price,Bathrooms,Bedrooms,ParkingSlots,SquareMeters,GpsLongitude,GpsLatitude,Municipio,Estado
2,5250000.0,3,3,2,177.0,-99.299350,19.355751,Cuajimalpa,Ciudad de México
4,6250000.0,3,3,3,200.0,-99.293693,19.356364,Cuajimalpa,Ciudad de México
5,19750000.0,3,3,4,256.0,-99.254541,19.385992,Cuajimalpa,Ciudad de México
8,9900000.0,3,3,2,199.0,-99.286972,19.388187,Huixquilucan,Estado de México
11,22950000.0,2,2,4,359.0,-99.265160,19.389347,Cuajimalpa,Ciudad de México

In [28]:
df[pd.isna(df["Estado"])].head() # Muestra  datos perdidos  o los NA VACIOS

,Price,Bathrooms,Bedrooms,ParkingSlots,SquareMeters,GpsLongitude,GpsLatitude,Municipio,Estado
1687,4148225.0,2,3,2,113.0,NaN,NaN,NaN,NaN
1688,3500000.0,2,3,2,180.0,NaN,NaN,NaN,NaN
1689,2500000.0,2,3,1,113.0,NaN,NaN,NaN,NaN
1690,9705000.0,2,2,2,153.0,NaN,NaN,NaN,NaN
1691,9200000.0,3,3,3,243.0,NaN,NaN,NaN,NaN

In [29]:
len(df[pd.isna(df["Estado"])].head())#valores en concreto  del filtro en este caso son 5 NA

5