In [1]:
import pandas as pd 
import numpy as np
df=pd.read_csv("C:/Users/polla/Desktop/curso python esecencial ciencia de datos/numpy/datos1.csv" )

In [2]:
df.head()

,Price,Bathrooms,Bedrooms,ParkingSlots,SquareMeters,GpsLongitude,GpsLatitude,Municipio,Estado
0,9500000.0,4,4,4,470.0,-89.611038,21.063482,Merida,Yucatán
1,799999.0,2,2,1,71.0,-100.398136,20.663553,Santiago de Querétaro,Querétaro
2,5250000.0,3,3,2,177.0,-99.299350,19.355751,Cuajimalpa,Ciudad de México
3,8200000.0,2,3,3,156.0,-99.164989,19.393514,Benito Juarez,Ciudad de México
4,6250000.0,3,3,3,200.0,-99.293693,19.356364,Cuajimalpa,Ciudad de México

**relacion entre variables cualitativas de chi cuadrado donde no existe relacion entre variables 
pero permite cuantificar la magnitud de estas distancias  comparar las con las de chi cuadrado 
y decidir si podemos afirmar si estas  variables estan relacionadas significativamentre 
no permite cuantificar cada una de las relaciones entre categorias.
permite ver relacion como por ejemplo  fumar esta relacionado con el cancer de pulmon.

In [3]:
np.random.seed(0) #generar numeros psudoaleatorios
df=df[df["Estado"].isin(["Yucatán","Querétaro","Ciudad de México"])]#casos de estados con los nombres seleccionado 
df=df.sample(frac=1)
df=df[0:1000]#seleccionar las primeras 100

In [8]:
df.head(1000)

,Price,Bathrooms,Bedrooms,ParkingSlots,SquareMeters,GpsLongitude,GpsLatitude,Municipio,Estado
410,2600000.0,2,3,3,180.0,-99.135953,19.265344,Xochimilco,Ciudad de México
1837,5500000.0,3,3,2,126.0,-99.199012,19.355591,Álvaro Obregón,Ciudad de México
1980,1500000.0,2,2,1,67.0,-99.098584,19.432218,Venustiano Carranza,Ciudad de México
5715,3236265.0,2,2,1,82.0,-99.139000,19.369936,Benito Juarez,Ciudad de México
405,6500000.0,3,3,2,210.0,-99.180198,19.371249,Benito Juarez,Ciudad de México
...,...,...,...,...,...,...,...,...,...
2493,1200000.0,3,3,1,80.0,-100.511324,20.655255,Santiago de Querétaro,Querétaro
15440,17847840.0,4,3,3,206.0,-99.187031,19.373451,Benito Juarez,Ciudad de México
11075,1062000.0,3,3,2,140.0,-89.554772,21.041127,Merida,Yucatán
14080,23500000.0,4,4,4,400.0,-99.206093,19.297930,Tlalpan,Ciudad de México
14760,1300000.0,1,1,4,287.0,-99.954599,20.393607,"San Juan del Río Municipality, Querétaro",Querétaro

In [11]:
df["nuevo"]=df["Price"]>5500000.0 # muestra el precio mayor de el estado seleccionado  y la creacion de nueva columna 
observados=pd.crosstab(index=df['nuevo'],columns=df['Estado'],margins=True)#crear tabla de contingencia

In [12]:
observados #esto es una tabla de contingencia 
#dice que la ciudad de mexico no es mayor sau precio a 5500000 que son 340 y arriba de los 5500000 hay 271
#los all son el numero que pusimos como 1000 es la suma columna all y filla all como una tabla simplex

Estado  Ciudad de México  Querétaro  Yucatán   All
nuevo
False                340        224      125   689
True                 271         26       14   311
All                  611        250      139  1000

In [18]:
pip install scipy # para installar

Requirement already satisfied: scipy in c:\users\polla\anaconda3\lib\site-packages (1.2.1)
Note: you may need to restart the kernel to use updated packages.

In [20]:
from scipy.stats import chi2_contingency #paquete que va a realizar el test

In [21]:
test=chi2_contingency(observados)

In [22]:
test

(128.76253832149996,
 2.341792159835901e-25,
 6,
 array([[ 420.979,  172.25 ,   95.771,  689.   ],
        [ 190.021,   77.75 ,   43.229,  311.   ],
        [ 611.   ,  250.   ,  139.   , 1000.   ]]))

(128.76253832149996, ----> **estadistico de la suma de las diferencias de cuadrados **
 2.341792159835901e-25,  -----> **P-value perimite tomar decisiones apartir de una criterio
 6,
 array([[ 420.979,  172.25 ,   95.771,  689.   ],
        [ 190.021,   77.75 ,   43.229,  311.   ],
        [ 611.   ,  250.   ,  139.   , 1000.   ]]))  -----> tabla de valores esperados

In [24]:
esperados=pd.DataFrame (test[3])

In [25]:
esperados # solo es una aproximacion teorica

         0       1        2       3
0  420.979  172.25   95.771   689.0
1  190.021   77.75   43.229   311.0
2  611.000  250.00  139.000  1000.0

In [27]:
esperados_rel = round (esperados.apply(lambda  r: r/len(df)*100 , axis=1),2 )
#rel documentos relativos para que sea facil comparar
#raund redondeo para que sea facil de interpretar  sobre cada 1 de las tablas  aplicandole una funcion lambda  funcion sin nombre
#esta va hacer  cada uno de los valores divididos por el total de valores  multiplicados *100
#asi se generar tablas con valores relativos  y no valores absolutos  mas dificil de comparar

In [35]:
observados_rel = round (observados.apply(lambda r: r/len(df)*100 , axis=1),2 )

In [36]:
observados_rel

Estado  Ciudad de México  Querétaro  Yucatán    All
nuevo
False               34.0       22.4     12.5   68.9
True                27.1        2.6      1.4   31.1
All                 61.1       25.0     13.9  100.0

In [31]:
esperados_rel

      0      1      2      3
0  42.1  17.22   9.58   68.9
1  19.0   7.78   4.32   31.1
2  61.1  25.00  13.90  100.0

** prueba de decision en estadistico  de chi cuadrada 
** los margenes deben ser iguales si no es por que algo esta mal 
** se comparan los resultados cpon esperados con observados si puede ser mayor 
** para eso se necesita  un test que puede hacer eso comparar , sumar , elevar ^2 y dividirlo generar una distribuicion

In [37]:
test[1] # podemos afirmar que no hay relacion entre variables

2.341792159835901e-25

## Resumen de test de Hipotesis


#si el p-value<0.05 hay diferencias significativas:hay relacion entre variables 

#si el p-value>0.05, no hay diferencias significativas:No hay relacion entre variables